<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard <span th:text="${rolUsuario}"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/inicio">Inicio</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" href="/usuario/crear">Crear Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/logout">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-5">
    <div class="jumbotron">
<h2>Crear Nuevo Usuario</h2>
<br>

<form th:action="@{/usuario/crear}" method="post">
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" name="nombres" required><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required><br>

    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut"><br>

    <label for="rol">Rol:</label>
    <select id="rol" name="rol">
        <option value="ADMIN">ADMIN</option>
        <option value="CLIENTE">CLIENTE</option>
        <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
    </select><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>

    <button class="btn btn-primary btn-m" type="submit">Crear Usuario</button>
</form>
   </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
